.shopPageSecton {
  position: relative;
}
.button {
  width: 150px;
  height: 50px;
  color: #333333;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  font-weight: 600;
}
.goodsQuantity {
  position: absolute;
  top: -48px;
  left: 316px;
  font-size: 16px;
  font-weight: 900;
  color: red;
}
.shoppingCartImg {
  position: absolute;
  width: 60px;
  top: -60px;
  left: 290px;
}
.title {
  padding-top: 15px;
  padding-bottom: 15px;
  color: green;
  font-size: 36px;
}
.button:hover {
  box-shadow: 2px 6px 5px -2px rgba(0, 0, 0, 0.54);
  color: green;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.shopName {
  color: green;
  font-size: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.shopButtonsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.title::after {
  /* background-image */
  content: "";
  background: url("./images/shopImg.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 120px 0px;
  background-attachment: fixed;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .button {
    height: 40px;
  }
  .title::after {
    /* background-image */
    background-size: 500px;
    background-position: 520px 50px;
  }
  .goodsQuantity {
    left: 675px;
  }
  .shoppingCartImg {
    left: 650px;
  }
}
@media screen and (min-width: 1440px) {
  .title::after {
    /* background-image */
    background-size: 800px;
    background-position: 520px 50px;
  }
  .goodsQuantity {
    left: 1025px;
  }
  .shoppingCartImg {
    left: 1000px;
  }
}
