.navLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  gap: 30px;
}

/* .logo {
  width: 50px;

  position: absolute;
  z-index: -1;
} */
@media screen and (max-width: 768px) {
  /* .logo {
    position: fixed;
    top: 0px;
    left: 175px;
    opacity: 0.7;
    width: 200px;
  } */
  .navLink {
    padding-left: 15px;
  }
}
