.navLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 15px; */
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  gap: 30px;
}

/* @media screen and (max-width: 768px) {
  .navLink {
    padding-left: 15px;
  }
} */
